<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="\img\weather-2191838-1846632.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/bobby.jpg">
    </div>
    
    {{>footer}}
</body>

</html>